body {
    /* width:960px; */
    background-color: rgb(217, 240, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.input {
    margin-bottom: 20px;
}

h3 {
    margin-top: -10px;
    margin-bottom: 2px;
    margin-right: 0px;
    text-align: center;
}
.btn {
    width: 220px;
    font-size: 16px;
    border: 2px #e6e3e3 solid;
    border-radius: 5px;
    /* padding: auto; */
    margin: 5px 0px 0px 0px;

}
.button {
    width: 348px;
    margin-bottom: 15px;
}

.PCbutton1 {
    /* display: flex; */
    font-size: 12px;
    color: darkblue;
    background-color: #fff;
    text-align: center;
    border: 2px #e6e3e3 solid;
    border-radius: 5px;
    width: 140px;
    padding: 2px 5px;
    margin: 10px ;
    cursor: pointer;
    float: left;
    
}

.PCbutton2 {
    font-size: 12px;
    color: rgb(0, 76, 139);
    background-color: #fff;
    text-align: center;
    border: 2px #e6e3e3 solid;
    border-radius: 5px;
    width: 140px;
    padding: 2px 5px;
    margin: 10px ;
    cursor: pointer;
    float: right
    
}

.result {
    height: 200px;
    width: 800px;
    background-color: #fff;
    border: 2px rgb(227, 241, 243) solid;
}